*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

#opener{
width:100%;
height:100vh;
background-image:url(fish-images/rainbowocean.jpg);
background-size:cover;
background-repeat: repeat;
background-position:center;
text-align:center;
position: relative;


}


.rainbowfish{
    background-image: url(fish-images/rainbowfish.png);
    width:1000px;
    height:1000px;
    position:absolute;
    right:0%;
    bottom:0%;
    background-size: contain;
    background-repeat: no-repeat;
    z-index:999;
    

}
.title{
    font-size: 100px;
    font-family: "Cagliostro", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
 

}

.quote{

    width:50%;

    position: relative;
    left: 5%;
    background-color: rgba(0, 153, 255, 0.788);
    padding:100px;
    top: 5%






}
h1{
    font-size: 100px;
    font-family: "Cagliostro", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

h2{
    font-size: 60px;
    font-family: "Cagliostro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  h3{
    font-size:50px;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  p{
    font-size: 100px;
    font-family: "GFS Neohellenic", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

#information{
    background-color: rgba(33, 157, 252, 0.63);
    background-size: cover;
    background-repeat:repeat;
  

    
}

.flex-area{
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.flexitem{
    width:33.3%;
    margin:50px;
}

.about{

    width:50%;

    background-color:  rgba(0, 153, 255, 0.788);
    margin:100px;
    padding:50px;

    


}

.bookcover{
background-image: url(fish-images/bookcover.jpg);
width: 50%;
background-size: contain;
background-repeat: no-repeat;
margin:100px;
}

#video{
    background-color: rgba(33, 157, 252, 0.63);
    background-size: cover;
    background-repeat: repeat;
        
}
iframe{
margin: 0 50px;
width:1000px;
height:1000px;
left:50%;
top: 10%;

}

#section4{
background-color: rgba(33, 157, 252, 0.63);
background-position: bottom;
background-size: cover;
font-size: 50px;
padding-top:100px;

}

.fishincave{
    background-image: url(fish-images/fishincave.webp);
    height: 600px;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;
  

}
.fishandfish{
    background-image: url(fish-images/fishandfish.jpg);
    height: 600px; 
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;


}
.threefish{
    background-image: url(fish-images/threefish.webp);
    height: 600px;
    width:100%;
    background-size: contain;
    background-repeat: no-repeat;

 
}
